/*******************************************************************
 *  gbox.css
 *  Css for GBox widget.
 *
 *  Copyright 2014 Niyamaka.
 *  MIT license.
 *******************************************************************/

.gbox_vertical_layout_box {
    display: block;
    overflow: hidden;
    position: absolute;
    border: 0 none;
    padding: 0;
    margin: 0;
    z-index: inherit;
}

.gbox_horizontal_layout_box {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    border: 0 none;
    padding: 0;
    margin: 0;
    z-index: inherit;
}
