/*******************************************************************
 *  gcontainer.css
 *  Css for GContainer widget.
 *
 *  Copyright 2014 Niyamaka.
 *  MIT license.
 *******************************************************************/

.gcontainer_container {
    display: block;
    position: relative;
    overflow: auto;
    border: 0 none;
    padding: 0;
    margin: 0;
}

