/*******************************************************************
 *  glayout.css
 *  Css for GLayout widget.
 *
 *  Copyright 2014 Niyamaka.
 *  MIT license.
 *******************************************************************/

.glayout_vertical_layout {
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    position: relative;
    border: 0 none;
    padding: 0;
    margin: 0;
}

.glayout_horizontal_layout {
    overflow-x: auto;
    overflow-y: hidden;
    display: block;
    position: relative;
    border: 0 none;
    padding: 0;
    margin: 0;
}
